<div class="container py-3 h-100 mb-2">
  <div class="d-flex justify-content-between mb-3">
    <%= link_to root_path, class: "return-arrow " do %>
    <i class="fa-solid fa-chevron-left"></i>
    <% end %>
    <h2 class="wakely-font my-2 text-center ">Profil</h2>
    <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
    <button class="Btn">
      <div class="sign"><svg viewBox="0 0 512 512">
          <path
            d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
          </path>
        </svg></div>

      <div class="text-test">Quitter</div>
    </button>
    <%end%>
  </div>



  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-md-12 col-xl-4">
      <div class=" card card-user text-center">
        <div class="notif-icon">
          <%= render "notification" %>
        </div>
        <div class="d-flex justify-content-center mb-2">
          <% if @user != current_user %>
          <%= simple_form_for [@user, @friendship] do |f| %>
          <%= f.input :receiver_id,as: :hidden, input_html: { value: @user.id } %>
          <%= f.submit "Suivre", class:" btn btn-outline-light rounded-pill btn-focus" %>
          <% end %>
          <% end %>
        </div>
        <h4 class="wakely-font mb-2"><%=@user.username%></h4>
      </div>
      <div class="d-flex justify-content-center mb-2">
        <% if @user != current_user %>
        <%= simple_form_for [@user, @friendship] do |f| %>
        <%= f.input :receiver_id,as: :hidden, input_html: { value: @user.id } %>
        <%= f.submit "Suivre", class:" btn btn-outline-light rounded-pill" %>
        <% end %>
        <% end %>
      </div>

    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center h-100 mt-3">
    <div class="col-md-12 col-xl-4">
      <h4 class="wakely-font justify-content-center d-flex mt-2"><strong>Dernier post</strong></h4>

      <div class=" card mt-3 card-body text-center">
        <div class="post">
          <div class="title-post">
            <div class="profil-img-username d-flex flex-row align-items-end">
              <div class="mood">
                <h6 class="wakely-font"><%= @user.username%> est dans un mood <%=@user.last_post_day.mood%></h6>
              </div>
            </div>
          </div>
          <div class="main-post border border-dark">
            <div class="content d-flex content-post d-flex justify-content-between">
              <p class="blablabla wakely-font d-flex "><%= @user.last_post_day.content %></p>
              <div class="cross-btn">
                <%= link_to post_path(@user.last_post_day), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-solid fa-xmark"></i>
                <% end %>
              </div>
            </div>
            <div class="track">
              <iframe style="border-radius:12px"
                src=<%="https://open.spotify.com/embed/track/#{@user.last_post_day.track_id}?utm_source=generator"%>
                width="100%" height="152" frameBorder="0" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
            </div>
            <div class="date-time mx-1 wakely-font d-flex justify-content-start">
              <h6 class="mx-1"> <small><%=@user.last_post_day.created_at.strftime('%d.%m.%Y - %H:%M:%S')%></small></h6>
            </div>
            <div class="d-flex justify-content-between">
              <%= link_to post_path(@user.last_post_day) do%>
              <i class="fa-solid fa-message icon-comment-user"></i>
              <% end %>

            </div>
          </div>
          <br>
        </div>
      </div>

      <div class="row d-flex justify-content-center h-100 mt-3">
        <div class="col-md-12">
          <h4 class=" wakely-font d-flex justify-content-center"><strong>Memories</strong></h4>

          <div class="card card-body">
            <% @last_posts.each do |post| %>
            <div class="main-post">
              <div class="cross-btn">
                <%= link_to post_path(@user.last_post_day), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-solid fa-xmark fa-xmark-memories"></i>
                <% end %>
              </div>
              <div class="track">
                <iframe style="border-radius:12px"
                  src=<%="https://open.spotify.com/embed/track/#{post.track_id}?utm_source=generator"%> width="100%"
                  height="152" frameBorder="0" allowfullscreen=""
                  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                  loading="lazy"></iframe>
              </div>
              <div class="date-time mx-1 wakely-font d-flex justify-content-start">
                <h6 class="mx-1"> <small><%=@user.last_post_day.created_at.strftime('%d.%m.%Y - %H:%M:%S')%></small>
                </h6>
              </div>
              <div>
                <div class="d-flex justify-content-left">
                  <%= link_to post_path(@user.last_post_day) do%>
                  <i class="fa-solid fa-message icon-comment-user"></i>
                  <% end %>
                </div>
              </div>

            </div>

            <% end %>

          </div>
          <br>
<br>
<br>

        </div>
      </div>
    </div>
  </div>
</div>
