   <% @posts.each do |post| %>
    <div class="post">
    <div class="title-post">
       <div class="profil-img-username d-flex flex-row align-items-end">
          <img src="https://yt3.googleusercontent.com/6qGEhp2vSYQm_n0Xaby-5rgr1kW9ldtMSPafl3FTXOlYzQxaZ15Dp7DRSNNVWN3upuor1qV68Lo=s900-c-k-c0x00ffffff-no-rj" class= "img-profil" alt="sad">
        </div>
        <div class="profil-info">
        <div class="user text-start">
        <%= link_to post.user.username, user_path(post.user), class:"text-decoration-none text-dark"%>
        </div>
        <div class="mood">
        <%= link_to post.mood, post_path(post), class:"text-decoration-none text-dark"%>
        </div>
        </div>
    </div>
        <div class="main-post border border-dark">
          <div class="track">
          <iframe style="border-radius:12px" src=<%="https://open.spotify.com/embed/track/#{post.track_id}?utm_source=generator"%> width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </div>
          <div class="content mx-3">
            <p class= "wakely-font"><%= post.content %></p>
          </div>
        </div>
        </div>
        <div class="date-time mx-1 ">
          <small><%=post.created_at%></small>
        </div>
    <br>
    <% end %>
