<div data-controller="search-music" data-search-music-value=<%= search_music_path %>>
  <%= simple_form_for @post do |f| %>
    <%= f.input :mood, collection: Post::MOODS %>
    <%= f.input :search_music, input_html: { data: {
                                              search_music_target: "input",
                                              action: 'keyup->search-music#getTracks'
                                            }
                                          } %>
    <%= f.input :track_id, as: :hidden, input_html: { data: { search_music_target:"hiddenInput" }} %>
    <ul data-search-music-target="ul"></ul>
    <%= f.input :content %>
    <%= f.submit %>
  <% end %>
</div>
