<div class="container">
  <div class="row w-10 col-2 justify-content-center d-flex mt-3">
    <%= link_to root_path, class: "return-arrow" do %>
    <%= image_tag("https://cdn0.iconfinder.com/data/icons/entypo/46/chevron4-1024.png", size: "20x20", class: "responsive-image") %>
    <% end %>
  </div>
  <div class="row d-flex justify-content-center align-items-center h-100 p-3">
    <div>
      <h1><%= @post.track_id %></h1>
      <h2><%= @post.mood %></h2>
    </div>

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="form-inputs">
        <%= simple_form_for [@post, @comment],
          html: {class: "d-flex"} do |f|
        %>
        <%= f.input :content,
            label: false,
            placeholder: "Commentaire",
            wrapper_html: {class: "flex-grow-1"}
          %>
        <%= f.submit "Send", class: "btn btn-primary mb-3" %>
        <% end %>
      </div>
    </div>

    <div class="container">
      <div class="card-comment row d-flex justify-content-center align-items-center h-100">
        <div class="d-flex">
          <% @post.comments.each do |comment| %>
          <img class="card-img-top img-circle rounded-circle"
            src="https://media.licdn.com/dms/image/D4D03AQEh19LSGxIO5w/profile-displayphoto-shrink_200_200/0/1681401337972?e=2147483647&v=beta&t=l8me4E87y2ZEbBu0hoqeTT3hs1PcPSaWEcBR4TXYu2Y"
            alt="Card image cap">
          <div class="card-block">
            <h5 class="card-title"><%= comment.user.username %></h5>
            <p class="card-text"> <%= comment.content %></p>
            <h6 class="card-subtitle mb-2 text-muted">Date commentaire</h6>
            <%= link_to "Supprimer le commentaire", comment_path(comment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-decoration-none" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
