<div class="container">
 <%= link_to root_path, class: "return-arrow " do %>
    <%= image_tag("logo-retour.png", size: "20x20", class: "responsive-image mt-2 png") %>
    <% end %>
 <div class="post mt-4">
    <div class="title-post">
       <div class="profil-img-username d-flex flex-row align-items-end">
          <img src=<%=@post.user.picture%> class= "img-profil" alt="sad">
        </div>
        <div class="profil-info">
        <div class="user text-start">
        <%= link_to @post.user.username, user_path(@post.user), class:"text-decoration-none text-dark"%>
        </div>
        <div class="mood">
        <%= link_to @post.mood, post_path(@post), class:"text-decoration-none text-dark"%>
        </div>
        </div>
    </div>
        <div class="main-post border border-dark">
                  <div class="track">
          <iframe style="border-radius:12px" src=<%="https://open.spotify.com/embed/track/#{@post.track_id}?utm_source=generator"%> width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </div>

          <div class="content mx-3">
            <p class= "wakely-font"><%= @post.content %></p>
          </div>
        </div>
        </div>
        <div class="post-footer d-flex justify-content-between mx-1">
        <div class="date-time mx-1 ">
          <small><%=@post.created_at%></small>
        </div>
        <%= link_to "x", post_path(@post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn button-rounded btn-dark rounded-circle" %>
        </div>



        </div>
    <br>

  <div class="row d-flex justify-content-center align-items-center h-100 p-3">
    <div class="form-inputs">
      <%= simple_form_for [@post, @comment],
          html: {class: "d-flex"} do |f|
        %>
      <%= f.input :content,
            label: false,
            placeholder: "Commentaire",
            wrapper_html: {class: "flex-grow-1"}
          %>
      <%= f.submit "Envoyer", class: "btn btn-send btn-dark mb-3" %>
      <% end %>
    </div>
  </div>

  <div class="container mb-5">
    <div class="row d-flex justify-content-center align-items-center h-100 p-3 m-1">
      <% @post.comments.each do |comment| %>
      <div class="comment block flex-wrap">
        <div class="d-flex">
          <img class="card-img-top img-circle rounded-circle"
            src="https://media.licdn.com/dms/image/D4D03AQEh19LSGxIO5w/profile-displayphoto-shrink_200_200/0/1681401337972?e=2147483647&v=beta&t=l8me4E87y2ZEbBu0hoqeTT3hs1PcPSaWEcBR4TXYu2Y"
            alt="Card image cap">
          <div class="card-block">
            <h5 class="user-comment card-title"><%= comment.user.username %></h5>
            <h4 class="comment-text card-text font-weight-bold"> <%= comment.content %></h4>
            <h6 class="date-comment card-subtitle mb-2 font-weight-light font-italic text-lowercase"><%= comment.created_at %></h6>
        </div>
      </div class="d-flex justify-content-start">
      <%= link_to "x", comment_path(comment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn button-rounded btn-dark rounded-circle" %>
      </div>
      <% end %>
      </div>
  </div>
</div>
